body {
  background-image: url(../img/pizza7.jpeg);
  background-size: 100% 100vh;
  color: rgba(203, 121, 159, 1);
}
.jumbotron{
  text-align: center;
  color: #c11111;
  margin-top: 20px;
  background-color: #aeeca2;
  border: 15px double darkgreen;
  border-radius: 30px
}
.well {
  border: 10px double lightgreen;
  margin: 20px;
  padding: 40px;
  background-color: rgba(97, 1, 2, .7);
  color: lightgreen;
  border-radius: 30px;
}
#cost {
  display: none;
  text-align: center;
  font-size: 40px;
  background-color: lightblue;
  border: 20px groove darkblue;
  color: darkblue;
}
.container {
  background-color: rgba(97, 1, 2, .5);
  border: 10px ridge red;
  padding: 50px;
}
button {
  background-color: lightgreen;
  color: #c11111;
  font-size: 30px;
  border: 7px outset pink;

}
#size {
  color: blue;
  border: 5px groove pink;

}
#topping {
  color: blue;
  border: 5px groove pink;

}
